section.main

    .container

        h1.main__title День в фото

        span.main__date

            span.main__date-number 21

            p.main__date-description сентября

        .main__layer-wrap

            img(src="img/main-layer.png")