section.main

    .container

        h1.main__title День в фото

        span.main__date

            span.main__date-number 21

            p.main__date-description сентября

        .main__layer-wrap

            img(src="img/main-layer.png")

        p.main__description Мельницы маленькой деревушки Brandmill близи курортного австрийского города Mayerhoffen.

        p.main__author Фото: Reuters

        .main__adidas-wrap

            img(src="img/adidas.png")

        .main__cola-wrap

            img(src="img/cola.png")

        .main__first-img-wrapper

            .main__first-img-wrap

                img(src="img/img-1.png")

            .main__first-img-wrap

                img(src="img/img-2.png")

            .main__first-img-wrap

                img(src="img/img-3.png")


            .main__first-img-wrap

                img(src="img/img-4.png")

            .main__first-img-wrap

                img(src="img/img-5.png")

            .main__first-img-wrap

                img(src="img/img-6.png")

            .main__advertising

                .main__advertising-wrap

                    img(src="img/advertising.png")

                p.main__advertising-description Рекламный тизер

                p.main__advertising-title Театральная паутина

                p.main__advertising-sub-title
                    |  Открытие новых сервисных
                    br
                    |  центров немекого автопрома

            .main__date-wrap

                span.main__date-number.main__date-number--mod 20

                p.main__date-description сентября

            .main__first-img-wrap

                img(src="img/img-2.png")

            .main__first-img-wrap

                img(src="img/img-3.png")


            .main__first-img-wrap

                img(src="img/img-4.png")

            .main__first-img-wrap

                img(src="img/img-5.png")

            .main__first-img-wrap

                img(src="img/img-6.png")

            .main__first-img-wrap

                img(src="img/img-1.png")

            .main__first-img-wrap

                img(src="img/img-2.png")

            .main__first-img-wrap

                img(src="img/img-3.png")

            .main__first-img-wrap

                img(src="img/img-4.png")

            .main__first-img-wrap

                img(src="img/img-5.png")

            .main__first-img-wrap

                img(src="img/img-6.png")

            .main__first-img-wrap

                img(src="img/img-6.png")

            .main__first-img-wrap

                img(src="img/img-1.png")

            .main__first-img-wrap

                img(src="img/img-2.png")

            .main__date-wrap

                span.main__date-number.main__date-number--mod 19

                p.main__date-description сентября

            .main__first-img-wrap

                img(src="img/img-4.png")

            .main__first-img-wrap

                img(src="img/img-5.png")

            .main__first-img-wrap

                img(src="img/img-6.png")

            .main__first-img-wrap

                img(src="img/img-6.png")

            .main__first-img-wrap

                img(src="img/img-4.png")

            .main__first-img-wrap

                img(src="img/img-5.png")

            .main__first-img-wrap

                img(src="img/img-6.png")

            .main__first-img-wrap

                img(src="img/img-6.png")




        .main__pagination

            p.main__pagination-pages Страницы:

            ul.main__pagination-body

                li

                    a.active(href="#") 1

                li

                    a(href="#") 2

                li

                    a(href="#") 3

                li

                    a(href="#") 4

                li

                    a(href="#") Следующая

