.main{
  position: relative;
  float: left;
  width: 100%;

   &__title{
     color: #010101;
     font-family: $PlayfairDisplay;
     font-size: 40px;
     font-weight: 400;
     line-height: 18px;
     text-transform: uppercase;

     @include breakpoint(max-width 320px){
       font-size: 26px;
       font-weight: 400;
       line-height: 18px;
       margin-bottom: -10px;
     }

      &:after{
        position: absolute;
        display: block;
        content: "";
        width: 420px;
        height: 2.5px;
        background-color: black;
        top: 50px;
        right: 60px;

        @include breakpoint(max-width 480px){
          width: 155px;
          right: 35px;
        }

        @include breakpoint(max-width 320px){
          width: 110px;
          top: 35px;
          right: 15px;
        }
      }
   }

  &__layer-wrap{
    position: relative;
    float: left;
    overflow: hidden;
    width: 700px;
    height: 455px;
    margin-top: 20px;

    @include breakpoint(max-width 480px){
      width: 440px;
      height: 286px;
      margin-bottom: 10px;
    }

    @include breakpoint(max-width 320px){
      width: 295px;
      height: 202px;
      margin-bottom: -5px;
    }

      &:after{
        position: absolute;
        display: block;
        content: "";
        background-image: url("../img/icons/arrow.png");
        background-repeat: no-repeat;
        width: 54px;
        height: 15px;
        bottom: 0;
        right: 46%;

        @include breakpoint(max-width 480px){
          display: none;
        }
      }

      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
  }

  &__date{
    position: absolute;
    display: block;
    z-index: 1;
    width: 160px;
    height: 104px;
    top: 110px;
    left: 30px;
    background-color: white;
    opacity: 0.8;

    @include breakpoint(max-width 480px){
      width: 80px;
      height: 53px;
      top: 110px;
    }

    @include breakpoint(max-width 320px){
      top: 60px;
      left: 20px;
    }
  }

  &__date-number{
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    color: black;
    font-family: $NotoSerif;
    font-weight: 400;
    line-height: 24px;
    font-size: 36px;
    margin-top: 25px;

    @include breakpoint(max-width 480px){
      font-size: 18px;
      line-height: 24px;
      margin-top: 5px;
      margin-bottom: 0;
    }

      &:after{
        position: absolute;
        display: block;
        content: "";
        background-image: url("../img/icons/black-arrow.png");
        background-repeat: no-repeat;
        width: 3px;
        height: 5px;
        top: 12px;
        right: 20px;

        @include breakpoint(max-width 480px){
          display: none;
        }

      }
  }

  &__date-number--mod{
    position: relative;
    float: left;

      &:after{
        position: absolute;
        display: block;
        content: "";
        background-image: url("../img/icons/black-arrow.png");
        background-repeat: no-repeat;
        width: 3px;
        height: 5px;
        top: 12px;
        right: 10px;
      }
  }

  &__date-description{
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    color: black;
    font-family: $NotoSerif;
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
    margin-top: 10px;

    @include breakpoint(max-width 480px){
      font-size: 14px;
      line-height: 18px;
      margin-top: 0;
    }
  }

  &__description{
    position: relative;
    float: left;
    width: 100%;
    font-family: $NotoSans;
    font-size: 13px;
    line-height: 18px;
    color: black;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 0;

    @include breakpoint(max-width 480px){
      display: none;
    }
  }

  &__author{
    position: relative;
    float: left;
    width: 100%;
    font-family: $NotoSans;
    font-size: 13px;
    line-height: 18px;
    color: #acacac;
    font-weight: 700;
    margin-top: 0;

    @include breakpoint(max-width 480px){
      display: none;
    }
  }

  &__first-img-wrapper{
    position: relative;
    clear: left;
    width: -webkit-fill-available;
    display: flex;
    flex-wrap: wrap;

  }

  &__date-wrap{
    position: relative;
    float: left;
    width: 160px;
    height: 104px;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;

      &:nth-of-type(14) {
        @include breakpoint(max-width 320px) {
          display: none;
        }
      }

    @include breakpoint(max-width 480px){
      width: 80px;
      height: 53px;
      margin-right: 10px;
      margin-bottom: 10px;
    }

    @include breakpoint(max-width 320px){
      width: 65px;
      height: 53px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }

  &__first-img-wrap{
    position: relative;
    float: left;
    width: 160px;
    height: 104px;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;

    &:nth-of-type(4){
      opacity: 0;

      @include breakpoint(max-width 320px){
        opacity: 1;
      }
    }

    &:nth-of-type(5){
      @include breakpoint(max-width 480px){
         opacity: 0;
       }
      @include breakpoint(max-width 320px){
        opacity: 1;
      }
    }

    &:nth-of-type(9){
      opacity: 0;
      @include breakpoint(max-width 480px){
        opacity: 1;
      }

      @include breakpoint(max-width 320px){
        opacity: 1;
      }
    }

    &:nth-of-type(10){
      @include breakpoint(max-width 480px){
        opacity: 0;
      }
      @include breakpoint(max-width 320px){
        opacity: 1;
      }
    }

    &:nth-of-type(11){
      @include breakpoint(max-width 480px){
        opacity: 0;
      }
      @include breakpoint(max-width 320px){
        opacity: 1;
      }
    }

    &:nth-of-type(15){
      @include breakpoint(max-width 480px){
        opacity: 0;
      }

      @include breakpoint(max-width 320px){
        opacity: 1;
      }
    }

    &:nth-of-type(16){
      @include breakpoint(max-width 480px){
        opacity: 0;
      }

      @include breakpoint(max-width 320px){
        opacity: 1;
      }
    }

    &:nth-of-type(20){
      @include breakpoint(max-width 480px){
        opacity: 0;
      }

      @include breakpoint(max-width 320px){
        display: none;
      }

    }

    &:nth-of-type(21){
      @include breakpoint(max-width 480px){
        opacity: 0;
      }
      @include breakpoint(max-width 320px){
        display: none;
      }
    }

    &:nth-of-type(13){
      @include breakpoint(max-width 480px){
        opacity: 1;
      }
    }



    &:nth-of-type(22){
      @include breakpoint(max-width 320px){
        display: none;
      }
    }

    &:nth-of-type(23){
      @include breakpoint(max-width 320px){
        display: none;
      }
    }

    &:nth-of-type(24){
      @include breakpoint(max-width 320px){
        display: none;
      }
    }

    &:nth-of-type(25){
      opacity: 0;
      @include breakpoint(max-width 480px){
        opacity: 1;
      }

      @include breakpoint(max-width 320px){
        display: none;
      }
    }

    &:nth-of-type(26){
      @include breakpoint(max-width 320px){
        display: none;
      }
    }

    &:nth-of-type(27){
      @include breakpoint(max-width 320px){
        display: none;
      }
    }

    &:nth-of-type(28){
      @include breakpoint(max-width 320px){
        display: none;
      }
    }

    &:nth-of-type(29){
      @include breakpoint(max-width 320px){
        display: none;
      }
    }

    &:nth-of-type(30){
      @include breakpoint(max-width 320px){
        display: none;
      }
    }

    &:nth-of-type(31){
      @include breakpoint(max-width 320px){
        display: none;
      }
    }



    @include breakpoint(max-width 480px){
      width: 80px;
      height: 53px;
      margin-right: 10px;
      margin-bottom: 10px;
    }

    @include breakpoint(max-width 320px){
      width: 70px;
      margin-bottom: 0;
      margin-right: 5px;
    }

      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
  }


  &__adidas-wrap{
    position: relative;
    float: right;
    width: 160px;
    height: 220px;
    overflow: hidden;
    right: 45px;

    @include breakpoint(max-width 480px){
      right: 20px;
    }

    @include breakpoint(max-width 320px){
      display: none;
    }

      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
  }

  &__cola-wrap{
    position: absolute;
    width: 160px;
    height: 220px;
    overflow: hidden;
    bottom: 19.4%;
    right: 56px;
    z-index: 1;

    @include breakpoint(max-width 480px){
      display: none;
    }

  }

  &__advertising{
    position: relative;
    float: left;
    width: 100%;
    background-color: #fbf6e8;
    display: none;

    @include breakpoint(max-width 320px){
      display: block;
    }
  }

  &__advertising-wrap{
    position: relative;
    float: left;
    width: 117px;
    height: 130px;
    overflow: hidden;

      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
  }

  &__advertising-description{
    position: relative;
    width: 100%;
    color: #bebebe;
    font-family: $NotoSans;
    font-size: 10px;
    font-weight: 700;
    left: 20px;
    top: 10px;
  }

  &__advertising-title{
    position: relative;
    width: 100%;
    color: black;
    font-family: $NotoSans;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    left: 20px;
    top: 10px;
  }

  &__advertising-sub-title{
    position: relative;
    width: 100%;
    color: black;
    font-family: $NotoSans;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    left: 20px;
    top: 10px;
  }

  &__second-img-wrapper{
    position: relative;
    float: left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  &__second-img-wrap{
    position: relative;
    float: left;
    width: 160px;
    height: 104px;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;

    @include breakpoint(max-width 480px){
      width: 80px;
      height: 53px;
    }

    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__pagination{
    position: relative;
    float: left;
    width: 100%;
    margin-top: 15px;
  }

  &__pagination-pages{
    position: relative;
    float: left;
    font-family: $NotoSans;
    font-size: 13px;
    line-height: 18px;
    color: #848484;
    font-weight: 400;
    margin-right: 20px;

    @include breakpoint(max-width 320px){
      display: none;
    }
  }

  &__pagination-body{
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;

    @include breakpoint(max-width 320px){
      margin-left: 15px;
    }

      li{
        position: relative;
        float: left;
        margin-right: 35px;

          a{
            position: relative;
            float: left;
            font-family: $NotoSans;
            font-size: 13px;
            line-height: 18px;
            color: black;
            font-weight: 400;
          }
      }
  }


}

.active{
  color: black;
  font-weight: 700;
  z-index: 1;

    &:after{
      position: absolute;
      display: block;
      content: "";
      background-image: url("../img/circle.png");
      background-repeat: no-repeat;
      width: 34px;
      height: 34px;
      top: -7px;
      left: -13px;
    }
}