doctype html
html
    head(lang='en')
        include ../elements/html_open

    body
        include ../mixins/mixins
        include ../elements/header
        include ../elements/main
        include ../elements/footer
        include ../elements/html_close